.pet {
  display: flex;
  margin: 24px;
  &__avatar {
    margin: 0 20px 0 0;
    img {
      width: 80px;
      display: block;
    }
  }
  &__body {
    flex: 1;
  }
  &__name {
    color: #797979;
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 8px;
  }
  &__exp-bar {
    margin-bottom: 8px;
  }
  &__exp {
    color: rgba(black, .38);
    font-style: 12px;
    line-height: 1;
  }
}
