footer {
  text-align: center;
  padding: 30px 0;
  border-top: 1px solid rgba($color: black, $alpha: .6);
  margin-top: 30px;
}


p {
  font-size: 14px;
  text-align: center;
  color: rgba(black, .6)
}
